// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktop
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      font-size: 3.5rem;
      line-height: 1;
      margin-bottom: 1rem;
    }

    .sm-heading {
      font-size: 2.5rem;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 125px;
      height: 125px;
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(-100%, 0, 0);
  }

  .about-info {
    display: block;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Mobiles
@include mediaSm {
  main {
    .lg-heading {
      font-size: 2.5rem;
      line-height: 1;
      margin-bottom: 1rem;
    }

    .sm-heading {
      font-size: 1.5rem;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  .projects {
    grid-template-columns: 1fr;
  }
}
